<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="renamings">
            <config key="0">
                <entry key="oldName" type="xstring" value="course_title_clean_upd"/>
                <entry key="newName" type="xstring" value="course_title"/>
            </config>
            <config key="1">
                <entry key="oldName" type="xstring" value="Rating"/>
                <entry key="newName" type="xstring" value="rating"/>
            </config>
            <config key="2">
                <entry key="oldName" type="xstring" value="Level"/>
                <entry key="newName" type="xstring" value="level"/>
            </config>
            <config key="3">
                <entry key="oldName" type="xstring" value="Duration to complete (Approx.)"/>
                <entry key="newName" type="xstring" value="duration_hours"/>
            </config>
            <config key="4">
                <entry key="oldName" type="xstring" value="Modules"/>
                <entry key="newName" type="xstring" value="modules"/>
            </config>
            <config key="5">
                <entry key="oldName" type="xstring" value="Skill gain"/>
                <entry key="newName" type="xstring" value="skills"/>
            </config>
            <config key="6">
                <entry key="oldName" type="xstring" value="Number of Review"/>
                <entry key="newName" type="xstring" value="num_reviews"/>
            </config>
            <config key="7">
                <entry key="oldName" type="xstring" value="Offered By"/>
                <entry key="newName" type="xstring" value="provider"/>
            </config>
            <config key="8">
                <entry key="oldName" type="xstring" value="Schedule"/>
                <entry key="newName" type="xstring" value="schedule"/>
            </config>
            <config key="9">
                <entry key="oldName" type="xstring" value="Course Url"/>
                <entry key="newName" type="xstring" value="course_url"/>
            </config>
            <config key="10">
                <entry key="oldName" type="xstring" value="What you will learn"/>
                <entry key="newName" type="xstring" value="topics"/>
            </config>
            <config key="11">
                <entry key="oldName" type="xstring" value="Keyword"/>
                <entry key="newName" type="xstring" value="domain"/>
            </config>
            <config key="12">
                <entry key="oldName" type="xstring" value="Instructor"/>
                <entry key="newName" type="xstring" value="instructor"/>
            </config>
        </config>
        <entry key="doNotAllowPaddedColumnName_Internals" type="xboolean" value="true"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.column.renamer.ColumnRenamerNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Renamer"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.7.0.v202508280756"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.7.0.v202508280756"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Renamer"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 3468, Cols: 13"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="aff95fc6-5ee4-4aa8-98b5-5cf33514c61a"/>
    </config>
</config>
